### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
totalschools = len(school_data_complete["school_name"].unique())
totalschools

15

In [4]:
totalstudents = len(school_data_complete["Student ID"].unique())
totalstudents

39170

In [5]:
#total budget. only count budget value once for each school
totbudget = school_data_complete["budget"].unique()
totalbudget = sum(totbudget)
totalbudget

24649428

In [6]:
avgmath = school_data_complete["math_score"].mean()
avgmath

78.98537145774827

In [7]:
avgreading = school_data_complete["reading_score"].mean()
avgreading

81.87784018381414

In [8]:
passingmath = school_data_complete.loc[(school_data_complete["math_score"] > 70)]
passingreading = school_data_complete.loc[(school_data_complete["reading_score"] > 70)]

In [9]:
passmathcount = len(passingmath["student_name"].unique())
passmathper = (passmathcount/totalstudents)*100
passmathper

62.838907327036

In [10]:
passreadcount = len(passingreading["student_name"].unique())
passreadper = (passreadcount/totalstudents)*100
passreadper

70.78631605820782

In [11]:
overallpassing = school_data_complete.loc[(school_data_complete["math_score"] > 70) & (school_data_complete["reading_score"] > 70)]
overallpasscount = len(overallpassing["student_name"].unique())
overallpassper = (overallpasscount/totalstudents)*100
overallpassper

53.681388817972945

In [12]:
districtsummary_df = pd.DataFrame({"Total Schools" : [totalschools],
                                       "Total Budget" : [totalbudget],
                                       "Total Students" : [totalstudents],
                                       "Average Math Score" : [avgmath],
                                       "Average Reading Score" : [avgreading],
                                       "Percent of Passing Math Scores" : [passmathper],
                                       "Percent of Passing Reading Scores" : [passreadper],
                                       "Percent Overall Passing" : [overallpassper]})
districtsummary_df

,Total Schools,Total Budget,Total Students,Average Math Score,Average Reading Score,Percent of Passing Math Scores,Percent of Passing Reading Scores,Percent Overall Passing
0,15,24649428,39170,78.985371,81.87784,62.838907,70.786316,53.681389

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [13]:
schooldatamean = school_data_complete[["school_name", "math_score", "reading_score"]]

In [14]:
schoolmeans = schooldatamean.groupby(["school_name"])
schoolmean = schoolmeans.mean()

In [15]:
schooldatasum = school_data_complete[["school_name", "size", "budget", "type"]].copy()
schooldatasum.drop_duplicates("size", keep='first', inplace=True) 
schooldatasums = schooldatasum.sort_values(by ='school_name')
schooldatasums.set_index('school_name', inplace=True)
schooldatasums

                       size   budget      type
school_name
Bailey High School     4976  3124928  District
Cabrera High School    1858  1081356   Charter
Figueroa High School   2949  1884411  District
Ford High School       2739  1763916  District
Griffin High School    1468   917500   Charter
Hernandez High School  4635  3022020  District
Holden High School      427   248087   Charter
Huang High School      2917  1910635  District
Johnson High School    4761  3094650  District
Pena High School        962   585858   Charter
Rodriguez High School  3999  2547363  District
Shelton High School    1761  1056600   Charter
Thomas High School     1635  1043130   Charter
Wilson High School     2283  1319574   Charter
Wright High School     1800  1049400   Charter

In [16]:
school_sum_df = schooldatasums.merge(schoolmean, left_index = True, right_index=True)
school_sum_df.rename(columns={'math_score' : 'Average Math Score', 
                                'reading_score' : 'Average Reading Score'},
                    inplace=True)

In [17]:
overallpass = schooldatamean.groupby[('school_name')]
overallpass_df = overallpass.query('math_score' > 70, 'reading_score' > 70)
overallpass_df

TypeError: 'method' object is not subscriptable

In [18]:
#convert budget to per student
school_sum_df["Budget per Student"] = \
        school_sum_df["budget"] / school_sum_df["size"]

In [19]:
#create df with only schools + passing scores for reading
passread_df = school_data_complete[['school_name', 'reading_score']]
passreading = passread_df['reading_score'] > 70
passingread = passread_df[passreading]
#groupby school and count passing scores
readingscore = passingread.groupby(['school_name']).count()
#turn raw count into percentage
readingscore["reading_score"] = \
        readingscore['reading_score']/school_sum_df["size"]
readingscore['reading_score'] = 100 * readingscore['reading_score']

In [20]:
#create df with only schools + passing scores for math
passmath_df = school_data_complete[['school_name', 'math_score']]
passmath = passmath_df['math_score'] > 70
passingmath = passmath_df[passmath]
#groupby school and count passing scores
mathscore = passingmath.groupby(['school_name']).count()
#turn raw count into percentage
mathscore['math_score'] = \
    mathscore['math_score']/school_sum_df['size']
mathscore['math_score'] = 100 * mathscore['math_score']

In [21]:
#merge grouped dataframes into a single df showing the count of passing scores for reading and math at each school
passingscorecount = mathscore.merge(readingscore, left_index = True, right_index=True)
#rename columns
passingscorecount.rename(columns={'math_score' : 'Percent Passing Math', 
                                'reading_score' : 'Percent Passing Reading'},
                    inplace=True)
#merge with main schoolsummary 
schoolsummary = passingscorecount.merge(school_sum_df, left_index = True, right_index=True)
schoolsummary

,Percent Passing Math,Percent Passing Reading,size,budget,type,Average Math Score,Average Reading Score,Budget per Student
school_name,,,,,,,,
Bailey High School,64.630225,79.300643,4976,3124928,District,77.048432,81.033963,628.0
Cabrera High School,89.558665,93.864370,1858,1081356,Charter,83.061895,83.975780,582.0
Figueroa High School,63.750424,78.433367,2949,1884411,District,76.711767,81.158020,639.0
Ford High School,65.753925,77.510040,2739,1763916,District,77.102592,80.746258,644.0
Griffin High School,89.713896,93.392371,1468,917500,Charter,83.351499,83.816757,625.0
Hernandez High School,64.746494,78.187702,4635,3022020,District,77.289752,80.934412,652.0
Holden High School,90.632319,92.740047,427,248087,Charter,83.803279,83.814988,581.0
Huang High School,63.318478,78.813850,2917,1910635,District,76.629414,81.182722,655.0
Johnson High School,63.852132,78.281874,4761,3094650,District,77.072464,80.966394,650.0
Pena High School,91.683992,92.203742,962,585858,Charter,83.839917,84.044699,609.0
Rodriguez High School,64.066017,77.744436,3999,2547363,District,76.842711,80.744686,637.0
Shelton High School,89.892107,92.617831,1761,1056600,Charter,83.359455,83.725724,600.0
Thomas High School,90.214067,92.905199,1635,1043130,Charter,83.418349,83.848930,638.0
Wilson High School,90.932983,93.254490,2283,1319574,Charter,83.274201,83.989488,578.0
Wright High School,90.277778,93.444444,1800,1049400,Charter,83.682222,83.955000,583.0

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [22]:
mathscorebygrade = school_data_complete[["school_name", "grade", "math_score"]]
mathscores_grouped = mathscorebygrade.groupby(['school_name', 'grade']).mean()
mathscores_grouped.rename(columns={'math_score' : 'Average Math Score'}, 
                    inplace=True)
mathscores_grouped

                             Average Math Score
school_name           grade
Bailey High School    10th            76.996772
                      11th            77.515588
                      12th            76.492218
                      9th             77.083676
Cabrera High School   10th            83.154506
                      11th            82.765560
                      12th            83.277487
                      9th             83.094697
Figueroa High School  10th            76.539974
                      11th            76.884344
                      12th            77.151369
                      9th             76.403037
Ford High School      10th            77.672316
                      11th            76.918058
                      12th            76.179963
                      9th             77.361345
Griffin High School   10th            84.229064
                      11th            83.842105
                      12th            83.356164
                      9th             82.044010
Hernandez High School 10th            77.337408
                      11th            77.136029
                      12th            77.186567
                      9th             77.438495
Holden High School    10th            83.429825
                      11th            85.000000
                      12th            82.855422
                      9th             83.787402
Huang High School     10th            75.908735
                      11th            76.446602
                      12th            77.225641
                      9th             77.027251
Johnson High School   10th            76.691117
                      11th            77.491653
                      12th            76.863248
                      9th             77.187857
Pena High School      10th            83.372000
                      11th            84.328125
                      12th            84.121547
                      9th             83.625455
Rodriguez High School 10th            76.612500
                      11th            76.395626
                      12th            77.690748
                      9th             76.859966
Shelton High School   10th            82.917411
                      11th            83.383495
                      12th            83.778976
                      9th             83.420755
Thomas High School    10th            83.087886
                      11th            83.498795
                      12th            83.497041
                      9th             83.590022
Wilson High School    10th            83.724422
                      11th            83.195326
                      12th            83.035794
                      9th             83.085578
Wright High School    10th            84.010288
                      11th            83.836782
                      12th            83.644986
                      9th             83.264706

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [29]:
readscorebygrade = school_data_complete[["school_name", "grade", "reading_score"]]
readscores_grouped = readscorebygrade.groupby(['school_name', 'grade']).mean()
readscores_grouped.rename(columns={'reading_score' : 'Average Reading Score'}, 
                    inplace=True)
readscores_grouped

                             Average Reading Score
school_name           grade
Bailey High School    10th               80.907183
                      11th               80.945643
                      12th               80.912451
                      9th                81.303155
Cabrera High School   10th               84.253219
                      11th               83.788382
                      12th               84.287958
                      9th                83.676136
Figueroa High School  10th               81.408912
                      11th               80.640339
                      12th               81.384863
                      9th                81.198598
Ford High School      10th               81.262712
                      11th               80.403642
                      12th               80.662338
                      9th                80.632653
Griffin High School   10th               83.706897
                      11th               84.288089
                      12th               84.013699
                      9th                83.369193
Hernandez High School 10th               80.660147
                      11th               81.396140
                      12th               80.857143
                      9th                80.866860
Holden High School    10th               83.324561
                      11th               83.815534
                      12th               84.698795
                      9th                83.677165
Huang High School     10th               81.512386
                      11th               81.417476
                      12th               80.305983
                      9th                81.290284
Johnson High School   10th               80.773431
                      11th               80.616027
                      12th               81.227564
                      9th                81.260714
Pena High School      10th               83.612000
                      11th               84.335938
                      12th               84.591160
                      9th                83.807273
Rodriguez High School 10th               80.629808
                      11th               80.864811
                      12th               80.376426
                      9th                80.993127
Shelton High School   10th               83.441964
                      11th               84.373786
                      12th               82.781671
                      9th                84.122642
Thomas High School    10th               84.254157
                      11th               83.585542
                      12th               83.831361
                      9th                83.728850
Wilson High School    10th               84.021452
                      11th               83.764608
                      12th               84.317673
                      9th                83.939778
Wright High School    10th               83.812757
                      11th               84.156322
                      12th               84.073171
                      9th                83.833333

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [30]:
schoolspending = schoolsummary[["Average Math Score", "Average Reading Score", "Percent Passing Math", "Percent Passing Reading", "Budget per Student"]]
schoolspending['Overall Pass Rate'] = schoolspending[['Percent Passing Math', 'Percent Passing Reading']].mean(axis=1)

C:\Users\Michelle\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [167]:
bins = [550, 599, 649, 700]
group_labels = ["550 to 599 per student", "600 to 649 per student", "650 to 700 per student" ]
pd.cut(schoolspending["Budget per Student"], bins, labels=group_labels).head()
schoolspending["Budget Distribution Category (dollars)"] = pd.cut(schoolspending["Budget per Student"], bins, labels=group_labels)
schoolspendingsorted = schoolspending.sort_values("Overall Pass Rate", ascending=False)
schoolspendingsorted

C:\Users\Michelle\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Budget per Student,Overall Pass Rate,Budget Distribution Category (dollars)
school_name,,,,,,,
Wilson High School,83.274201,83.989488,90.932983,93.254490,578.0,92.093736,550 to 599 per student
Pena High School,83.839917,84.044699,91.683992,92.203742,609.0,91.943867,600 to 649 per student
Wright High School,83.682222,83.955000,90.277778,93.444444,583.0,91.861111,550 to 599 per student
Cabrera High School,83.061895,83.975780,89.558665,93.864370,582.0,91.711518,550 to 599 per student
Holden High School,83.803279,83.814988,90.632319,92.740047,581.0,91.686183,550 to 599 per student
Thomas High School,83.418349,83.848930,90.214067,92.905199,638.0,91.559633,600 to 649 per student
Griffin High School,83.351499,83.816757,89.713896,93.392371,625.0,91.553134,600 to 649 per student
Shelton High School,83.359455,83.725724,89.892107,92.617831,600.0,91.254969,600 to 649 per student
Bailey High School,77.048432,81.033963,64.630225,79.300643,628.0,71.965434,600 to 649 per student
Ford High School,77.102592,80.746258,65.753925,77.510040,644.0,71.631982,600 to 649 per student
Hernandez High School,77.289752,80.934412,64.746494,78.187702,652.0,71.467098,650 to 700 per student
Figueroa High School,76.711767,81.158020,63.750424,78.433367,639.0,71.091896,600 to 649 per student
Johnson High School,77.072464,80.966394,63.852132,78.281874,650.0,71.067003,650 to 700 per student
Huang High School,76.629414,81.182722,63.318478,78.813850,655.0,71.066164,650 to 700 per student
Rodriguez High School,76.842711,80.744686,64.066017,77.744436,637.0,70.905226,600 to 649 per student

## Scores by School Size

* Perform the same operations as above, based on school size.

In [166]:
schoolsize = schoolsummary[["Average Math Score", "Average Reading Score", "Percent Passing Math", "Percent Passing Reading", "size"]]
schoolsize['Overall Pass Rate'] = schoolsize[['Percent Passing Math', 'Percent Passing Reading']].mean(axis=1)
bins = [0, 999, 2000, 2999, 3999, 5000]
group_labels = ["< 1000 Students", "1000 to 1999 students", "2000 to 2999 students", "3000 to 3999 students", "4000 to 5000 students" ]
pd.cut(schoolsize["size"], bins, labels=group_labels).head()
schoolsize["School Size Category"] = pd.cut(schoolsize["size"], bins, labels=group_labels)
schoolsizesorted = schoolsize.sort_values("Overall Pass Rate", ascending=False)
schoolsizesorted

C:\Users\Michelle\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Michelle\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,size,Overall Pass Rate,School Size Category
school_name,,,,,,,
Wilson High School,83.274201,83.989488,90.932983,93.254490,2283,92.093736,2000 to 2999 students
Pena High School,83.839917,84.044699,91.683992,92.203742,962,91.943867,< 1000 Students
Wright High School,83.682222,83.955000,90.277778,93.444444,1800,91.861111,1000 to 1999 students
Cabrera High School,83.061895,83.975780,89.558665,93.864370,1858,91.711518,1000 to 1999 students
Holden High School,83.803279,83.814988,90.632319,92.740047,427,91.686183,< 1000 Students
Thomas High School,83.418349,83.848930,90.214067,92.905199,1635,91.559633,1000 to 1999 students
Griffin High School,83.351499,83.816757,89.713896,93.392371,1468,91.553134,1000 to 1999 students
Shelton High School,83.359455,83.725724,89.892107,92.617831,1761,91.254969,1000 to 1999 students
Bailey High School,77.048432,81.033963,64.630225,79.300643,4976,71.965434,4000 to 5000 students
Ford High School,77.102592,80.746258,65.753925,77.510040,2739,71.631982,2000 to 2999 students
Hernandez High School,77.289752,80.934412,64.746494,78.187702,4635,71.467098,4000 to 5000 students
Figueroa High School,76.711767,81.158020,63.750424,78.433367,2949,71.091896,2000 to 2999 students
Johnson High School,77.072464,80.966394,63.852132,78.281874,4761,71.067003,4000 to 5000 students
Huang High School,76.629414,81.182722,63.318478,78.813850,2917,71.066164,2000 to 2999 students
Rodriguez High School,76.842711,80.744686,64.066017,77.744436,3999,70.905226,3000 to 3999 students

## Scores by School Type

* Perform the same operations as above, based on school type

In [169]:
schooltype = schoolsummary[["Average Math Score", "Average Reading Score", "Percent Passing Math", "Percent Passing Reading", "type"]]
schooltype['Overall Pass Rate'] = schooltype[['Percent Passing Math', 'Percent Passing Reading']].mean(axis=1)
schooltypesorted = schooltype.sort_values("Overall Pass Rate", ascending=False)
schooltypesorted

C:\Users\Michelle\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,type,Overall Pass Rate
school_name,,,,,,
Wilson High School,83.274201,83.989488,90.932983,93.254490,Charter,92.093736
Pena High School,83.839917,84.044699,91.683992,92.203742,Charter,91.943867
Wright High School,83.682222,83.955000,90.277778,93.444444,Charter,91.861111
Cabrera High School,83.061895,83.975780,89.558665,93.864370,Charter,91.711518
Holden High School,83.803279,83.814988,90.632319,92.740047,Charter,91.686183
Thomas High School,83.418349,83.848930,90.214067,92.905199,Charter,91.559633
Griffin High School,83.351499,83.816757,89.713896,93.392371,Charter,91.553134
Shelton High School,83.359455,83.725724,89.892107,92.617831,Charter,91.254969
Bailey High School,77.048432,81.033963,64.630225,79.300643,District,71.965434
Ford High School,77.102592,80.746258,65.753925,77.510040,District,71.631982
Hernandez High School,77.289752,80.934412,64.746494,78.187702,District,71.467098
Figueroa High School,76.711767,81.158020,63.750424,78.433367,District,71.091896
Johnson High School,77.072464,80.966394,63.852132,78.281874,District,71.067003
Huang High School,76.629414,81.182722,63.318478,78.813850,District,71.066164
Rodriguez High School,76.842711,80.744686,64.066017,77.744436,District,70.905226